body{
  background-color: white;
}

.scores{
  background-color:gray;
  font
}

.enemy {
  color: red;
  animation-duration: 1s;
  animation-name: resizing;
}

@keyframes resizing {
  from {
    r: 5;
  }
  to {
    r: 10;
  }
}